@charset "UTF-8";

.flex--between--wrap{
	display: flex;
	flex-direction: column;
}

.top--title{
	color: #ff2588;
	font-size: 45px;
	margin-top: 150px;
	margin-bottom: 50px;
}

img{
	width:100px;
}

.movie--list--box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie--text--box{
	display: flex;
	flex-direction: column;
}